
*{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

body{
	padding: 0;
	margin: 0;
}

.blanco{
	color: white;
}

.bold{
	font-weight: bold;
}

.row{
	margin-left: 0.7%;
}

.line{
	border: 1px solid rgba(201, 201, 201, 0.8);
	margin: 5% 0;
}

.grey{
	color: rgba(201, 201, 201, 0.8);
}

.mi-margin{
	margin: 2% 0;
}

.turquese{
	color: rgb(74, 232, 192);
}

.doble-contenedor{
	padding: 0 8% 3% 8%;
}

/*----------------------------------- NAV -----------------------------------------*/



/*----------------------------------- HEADER -----------------------------------------*/
header{
	padding-top: 7%;
	background: rgb(83, 101, 119);
}

.awesome{
	padding-bottom: 3%
}


/*----------------------------------- EXCEL -----------------------------------------*/
.excel{
	background: rgb(242, 242, 242);
}

.title-excel{
	margin: 5% 0;
}

/*----------------------------------- whats new ---------------------------------------*/
.new{
	background: rgb(242, 242, 242);
}

.cont-new{
	margin: 7% 0;
}

.title-new{
	margin-bottom: 6%;
}

.img-celu{
	width: 60%;
}

/*------------------------------------ SCREENSHOTS -------------------------------------*/
.screenshots{
	padding: 10% 0 8% 0;
	background: rgb(83, 101, 119);
}

/*------------------------------------ FORMULARIO -------------------------------------*/
.form{
	padding: 3% 0;
	background: rgb(62, 63, 64);
}

.list{
	list-style: none;
}

.title-form{
	margin-bottom: 4%;
}

.btn-submit{
	background: rgb(93, 182, 95);
	border: 1px solid rgb(93, 182, 95);
	margin: 5% 0;
}

/*------------------------------------ FORMULARIO -------------------------------------*/
footer{
	padding: 1% 0;
	background: rgb(47, 47, 47);
}
